[submodule "external/sfml"]
	path = external/sfml
	url = git@github.com:SFML/SFML.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/imgui-sfml"]
	path = external/imgui-sfml
	url = git@github.com:SFML/imgui-sfml.git
[submodule "luacpp"]
	path = external/luacpp
	url = git@github.com:jordanvrtanoski/luacpp.git
[submodule "external/lua"]
	path = external/lua
	url = git@github.com:walterschell/Lua.git
